USE [master]
GO
/****** Object:  Database [SimpleBookStoreDB]    Script Date: 10/28/2021 12:26:25 AM ******/
CREATE DATABASE [SimpleBookStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SimpleBookStoreDB_Data', FILENAME = N'F:\SQL_SERVER_SPACE\Simple_Book_Store\SimpleBookStoreDB_Data.mdf' , SIZE = 25600KB , MAXSIZE = 102400KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'SimpleBookStoreDB_Log', FILENAME = N'F:\SQL_SERVER_SPACE\Simple_Book_Store\SimpleBookStoreDB_Log.ldf' , SIZE = 25600KB , MAXSIZE = 102400KB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SimpleBookStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SimpleBookStoreDB]
GO
/****** Object:  Table [dbo].[bookAuthor]    Script Date: 10/28/2021 12:26:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookAuthor](
	[Author_Id] [int] NOT NULL,
	[Book_Id] [int] NOT NULL,
	[Author_Name] [nvarchar](75) NOT NULL,
	[Author_Gender] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Author_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookList]    Script Date: 10/28/2021 12:26:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookList](
	[Book_Id] [int] NOT NULL,
	[Book_Name] [nvarchar](75) NOT NULL,
	[Book_Category] [nvarchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookPrice]    Script Date: 10/28/2021 12:26:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookPrice](
	[Price_Id] [int] NOT NULL,
	[Book_Id] [int] NOT NULL,
	[Book_Price] [smallmoney] NOT NULL,
	[Price_Discount] [float] NULL,
	[Sell_Price]  AS ([Book_Price]*((1)-[Price_Discount]/(100))),
PRIMARY KEY CLUSTERED 
(
	[Price_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/28/2021 12:26:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_Id] [int] NOT NULL,
	[Customer_Name] [nvarchar](75) NOT NULL,
	[Customer_Gender] [nvarchar](7) NOT NULL,
	[Customer_Email] [nvarchar](50) NOT NULL,
	[Customer_Phone] [nchar](11) NULL,
	[Customer_Location] [nvarchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Customer_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sellsList]    Script Date: 10/28/2021 12:26:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sellsList](
	[Sell_Id] [int] NOT NULL,
	[Customer_Id] [int] NOT NULL,
	[Book_Id] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
	[Price_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sell_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bookAuthor]  WITH CHECK ADD FOREIGN KEY([Book_Id])
REFERENCES [dbo].[bookList] ([Book_Id])
GO
ALTER TABLE [dbo].[bookPrice]  WITH CHECK ADD FOREIGN KEY([Book_Id])
REFERENCES [dbo].[bookList] ([Book_Id])
GO
ALTER TABLE [dbo].[sellsList]  WITH CHECK ADD FOREIGN KEY([Author_Id])
REFERENCES [dbo].[bookAuthor] ([Author_Id])
GO
ALTER TABLE [dbo].[sellsList]  WITH CHECK ADD FOREIGN KEY([Book_Id])
REFERENCES [dbo].[bookList] ([Book_Id])
GO
ALTER TABLE [dbo].[sellsList]  WITH CHECK ADD FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customer] ([Customer_Id])
GO
ALTER TABLE [dbo].[sellsList]  WITH CHECK ADD FOREIGN KEY([Price_Id])
REFERENCES [dbo].[bookPrice] ([Price_Id])
GO
ALTER TABLE [dbo].[bookAuthor]  WITH CHECK ADD CHECK  (([Author_Gender]='Others' OR [Author_Gender]='Female' OR [Author_Gender]='Male'))
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD CHECK  (([Customer_Gender]='Others' OR [Customer_Gender]='Female' OR [Customer_Gender]='Male'))
GO
USE [master]
GO
